.grilla-general {
  margin-top: 75px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "navegador" "recepcion" "recepcion-secundaria" "pie-pagina"; }

.navegador {
  grid-area: navegador; }

.recepcion {
  grid-area: recepcion;
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .recepcion .recepcion__izquierda {
    margin-left: 15px;
    width: 50%;
    height: 500px;
    padding-right: 20px; }
    .recepcion .recepcion__izquierda .recepcion__izquierda--texto {
      padding-right: 20px; }
  .recepcion .recepcion__derecha {
    display: flex;
    justify-content: center;
    width: 50%;
    height: 70%;
    margin-right: 5px;
    margin-left: 5px; }
    .recepcion .recepcion__derecha .recepcion__derecha--imagen {
      max-width: 100%;
      height: auto; }

.recepcion-secundaria {
  grid-area: recepcion-secundaria;
  margin-top: 50px;
  background-color: #a2a2a2; }

.pie-pagina {
  grid-area: pie-pagina; }

html body {
  position: relative;
  margin: 0px;
  width: 100%; }

.navbar {
  font-family: 'Yantramanav', sans-serif;
  font-size: larger;
  font-weight: bold; }

.recepcion-secundaria {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .recepcion-secundaria h1 {
    color: white;
    font-family: "Yantramanav", sans-serif;
    font-size: 55px;
    display: flex;
    line-height: 55px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-content: center; }
  .recepcion-secundaria p {
    color: white;
    font-family: "Yantramanav", sans-serif;
    font-size: 30px;
    display: flex;
    line-height: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    line-height: 40px;
    justify-content: center; }

.recepcion__izquierda h1 {
  color: black;
  font-family: "Yantramanav", sans-serif;
  font-size: 85px;
  display: flex;
  line-height: 65px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  justify-content: center; }

.recepcion__izquierda h2 {
  margin-left: 20px;
  color: black;
  font-family: "Yantramanav", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: bold; }

.recepcion__izquierda ul {
  margin-left: 20px;
  color: black;
  font-family: "Yantramanav", sans-serif;
  font-weight: bold; }

h3 {
  font-weight: bold;
  font-family: "Yantramanav", sans-serif;
  font-size: 30px; }

h5 {
  font-family: "Yantramanav", sans-serif;
  font-size: 30px; }

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%; }
  .footer .pie-pagina {
    margin-top: 35px;
    align-self: center;
    font-family: "Yantramanav", sans-serif;
    justify-content: center; }
  .footer .pie-pagina__redes {
    font-family: "Yantramanav", sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 35px; }

.boton-facebook {
  background: #599bb3;
  border-radius: 6px;
  margin: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Yantramanav", sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 16px;
  text-decoration: none; }

.boton-instagram {
  background: #a473b8;
  border-radius: 6px;
  margin: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: "Yantramanav", sans-serif;
  font-size: 13px;
  font-weight: bold;
  padding: 7px 16px;
  text-decoration: none; }

@media (max-width: 790px) {
  .recepcion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center; }
    .recepcion .recepcion__izquierda {
      margin-top: 0px;
      width: 100%;
      height: 25%;
      align-self: center; }
    .recepcion .recepcion__derecha {
      height: 550px;
      width: 100%;
      align-self: center; } }

@media (max-width: 450px) {
  .grilla-general {
    margin-right: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navegador" "recepcion" "recepcion-secundaria" "pie-pagina"; }
  .recepcion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center; }
    .recepcion .recepcion__izquierda {
      margin-top: 15px;
      width: 100%;
      height: 10%;
      align-self: center; }
    .recepcion .recepcion__derecha {
      height: 350px;
      width: 100%;
      align-self: center; } }

@media (max-width: 375px) {
  .grilla-general {
    margin-top: 55px;
    margin-right: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "navegador" "recepcion" "recepcion-secundaria" "pie-pagina"; }
  .recepcion {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: center; }
    .recepcion .recepcion__izquierda {
      width: 100%;
      height: 10%;
      align-self: center; }
      .recepcion .recepcion__izquierda .recepcion__izquierda--texto {
        font-size: 60px;
        margin-left: 15px; }
      .recepcion .recepcion__izquierda .recepcion__derecha--imagen {
        margin-right: 15px;
        width: auto;
        height: auto; }
    .recepcion .recepcion__derecha {
      height: 350px;
      width: 100%;
      align-self: center; }
  .recepcion-secundaria {
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px; } }
