/*  Inicio Estilo para dar aspecto responsive con Max Widht a 790px */

@media (max-width: 790px) {

    .grilla-general {
        
        margin-right: 10px;

    .recepcion {

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;

        .recepcion__izquierda{

            margin-top: 0px;
            width: 100%;
            height: 25%;   
            align-self: center;

        }

        .recepcion__derecha{

            height: 550px;
            width: 100%;
            align-self: center;
        }

    }
}
}

/*  Inicio Estilo para dar aspecto responsive con Max Widht a 450px */

@media (max-width: 450px) {

    .grilla-general {

        margin-right: 10px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        
        "navegador"
        "recepcion"
        "recepcion-secundaria"
        "pie-pagina";
    }

    .recepcion {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;

        .recepcion__izquierda{

            margin-top: 15px;
            width: 100%;
            height: 10%;   
            align-self: center;

        }

        .recepcion__derecha{

            height: 350px;
            width: 100%;
            align-self: center;

        }

    }
}

/*  Inicio Estilo para dar aspecto responsive con Max Widht a 375px */

@media (max-width: 375px) {

    .grilla-general {
        
        margin-top: 55px;
        margin-right: 10px;
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        
        "navegador"
        "recepcion"
        "recepcion-secundaria"
        "pie-pagina";
    }

    .recepcion {

        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;

        .recepcion__izquierda{

            width: 100%;
            height: 10%;   
            align-self: center;

            .recepcion__izquierda--texto{

                font-size: 60px;
                margin-left: 15px;

            }

        .recepcion__derecha--imagen {

            margin-right: 15px;
            width: auto;
            height: auto;

        }
            

        }

        .recepcion__derecha{

            height: 350px;
            width: 100%;
            align-self: center;

        }

    }

    .recepcion-secundaria{
        padding-left: 5px;
        padding-right: 5px;
        margin-right: 10px;
    }
}